* {margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

body {
    font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between; /* título a la izq, menú a la der */
  align-items: center;
  background-color: hsl(335, 48%, 40%);
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  color: white;
  z-index: 1000;
 }

nav {
     display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
  margin: 0;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px; /* separa los enlaces */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd700;
}


